# Python
venv/
# Ignore Python byte-code
__pycache__/
*.pyc
*.py[cod]

# Node
node_modules/
dist/

# Environment
.env

# Databases
*.db

# Misc
.DS_Store

# Generated React build
portfolio-api/src/static/
