[Unit]
Description=Portfolio API (gunicorn)
After=network.target

[Service]
WorkingDirectory=/home/admin/my-portfolio/portfolio-api
EnvironmentFile=/home/admin/my-portfolio/.env
ExecStart=/home/admin/my-portfolio/portfolio-api/venv/bin/gunicorn -w 2 -b 0.0.0.0:${PORT:=8000} "src.main:create_app()"
Restart=on-failure
User=admin
Group=admin

[Install]
WantedBy=multi-user.target
